parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	router: App\Router\RouterFactory::createRouter


extensions:
	console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)

console:
	name: Nette project
	version: '1.0'
	catchExceptions: true
	autoExit: true
	url: http://nette-shop.l:90/
	lazy: false
